<nav class="navbar navbar-expand-sm navbar-dark bg-dark" dir="rtl">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActivate="active"> CRUD </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="transactions" routerLinkActivate="active"> مشاهده و انجام تراکنش‌ها </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid pt-5">
  <router-outlet></router-outlet>
</div>
